
{%block head%}
<header>
    <nav>
        <section>
            <h1>BOOKCAT</h1>
        </section>

        <section class="main-nav">
                <a href="#">Главная</a>
                <a href="#">Каталог</a>
                <a href="#">Поиск</a>
            </section>
        
        <aside>
            <form>
                <label>
                    <input type="search" placeholder="Поиск книг...">
                </label>
            </form>
                
            <figure>
                <button>Войти</button>
            </figure>
        </aside>
    </nav>
</header>
{%endblock%}
