{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<header>
    <nav class="nav-container">
        <div class="logo">
            <h1>BOOKCAT</h1>
        </div>
        <div class="nav-links">
            <a href="{% url 'main' %}">Главная</a>
            <a href="{% url 'cart' %}">Корзина</a>
            <div class="search-item">
                <form method="get" action="{% url 'main' %}" class="header-search-form">
                    <input type="text" name="search" placeholder="Поиск книг..." class="search-input" 
                           value="{{ request.GET.search }}">
                    <button type="submit" class="search-icon-btn"></button>
                </form>
            </div>
        </div>
        <button class="login-btn">ВОЙТИ</button>
    </nav>
</header>

{% block main %}

{% endblock %}